.ant-modal-wrap {
    .ant-modal {

        .ant-modal-content {
          border-radius: 8px;
          background: $grey-1;
        }
        
        .ant-modal-header {
            padding: 24px 24px 8px;
            border-bottom: none;
            background: $grey-1; 
            border-radius: 8px;

            .ant-modal-title {
                font-weight: 600;
                font-size: 22px;
            }
        }

        .ant-modal-footer {
            text-align: left;
            border-top: none;
            padding: 8px 24px 24px;
        }
    }

    .ant-modal.ant-modal-confirm {

        .ant-modal-body {
            padding: 16px;

            .ant-modal-confirm-content {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
            }

            .ant-modal-confirm-btns {
                display: flex;
                flex-direction: row-reverse;

                .ant-btn {
                    width: 76px;
                    text-transform: uppercase;
                }
                .ant-btn:not(.ant-btn-primary) {
                    width: 75px;
                    background: $grey-2;
                    border-radius: 4px;
                    border: none;
                }

                .ant-btn-primary {
                    margin-right: 17px
                }
            }
        }

    }
}







